<!DOCTYPE html>
<html lang="en">
<head>
  <title>Places</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="/styles/site.css" />
</head>
<body class="home">
  <ul class="index-navigation">
    {{#each this.places}}
      <li><a href="/{{this.path}}"><span class="index-title">{{this.title}} <br /> <span class="location">{{this.country}}, {{this.city}}</span><span></a></li>
    {{/each}}
  </ul>
</body>
</html>
